.main-container {
	width: 400px;
	border: 1px solid black;

}

.margin {
	margin: 5px;
}

.cont-1 {
	display: flex;
	flex-direction: column;
	
}

.cont-2 {
	display: flex;
	flex-direction: column;
}

.top-container {
	display: flex;
	flex-direction: column;
}

.top-container-rows {
	display: flex;
	flex-direction: row;
}
.first {
	width: 70%;
}

.second {
	width: 15%;
}

.third {
	width: 15%;
}

.erstes, .zweites, .drittes, .viertes {
	width: 25%
}

.bottom-container-rows {
	display: flex;
	flex-direction: row;
}

.last {
	display: flex;
	justify-content: space-around; 
}

.thick {

}

#border-below-Protein {
	height: 10px;
	width: 100%;
	box-sizing: border-box;
	background-color: black;
}

#border-below-Fat {
	height: 6px;
	width: 100%;
	box-sizing: border-box;
	background-color: black;
}

#small {
	font-size: 70%;

}

#more-right {
	padding: 0px 10px;
}

